<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Detail</title>
  </head>
  <body>
    <div class="container">
        <p>announcement: {{ announcement.announcement }}</p>
        <p>Timestamp: {{ announcement.timestamp }}</p>
        <p>created_at: {{ announcement.created_at }}</p>
        <p>created_by: {{ announcement.created_by }}</p>
        <p>modified_at: {{ announcement.modified_at }}</p>
        <p>modified_by: {{ announcement.modified_by }}</p>
    </div>
  </body>
</html>
